.button {
    font-family: inherit;
    font-size: 18px;
}

.button-button {
    font-family: inherit;
    font-size: 16px;
    padding: 14px 40px;
    background-color: #e7e7e7;
    color: black;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.button-button:hover {
    background-color: white;
}